img{
  width: 50px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

h1, h3{
  text-align: center;
}

.custom-select{
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}

table{
  width: 100%;
}